@media (max-width: 1050px) {
  .img {
    width: 400px;
  }
}
@media (max-width: 770px) {
  .img {
    width: 500px;
  }
  .list{
    display: none;
  }
}
@media (max-width: 430px) {
  .img {
    width: 350px;
  }
}
.swiper {
  width: 100%;
  height: 550px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #F3F4F4; */
margin: 100px 0 0;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide, swiper-slide {
  width: 80%!important;
  /* margin: 100px auto 0!important; */

}

.swiper-pagination-bullet {
  background-color: #EA6D27!important;
  margin-top: 117px!important;
}

